<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <display-name>OAI Solr Webapp</display-name>

  <servlet>
    <servlet-name>oai-solr</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<!--     <init-param>
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>org.archive.archiveit</param-value>
    </init-param> -->
  </servlet>

  <servlet-mapping>
    <servlet-name>oai-solr</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
